@font-face {
    font-family: yekanRegular;
    src: url("../../assets/fonts/YekanBakhFaNum-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: yekanBold;
    src: url("../../assets/fonts/YekanBakhFaNum-Bold.ttf");
    font-style: normal;
}
@font-face {
    font-family: poppins;
    src: url("../../assets/fonts/Poppins-Regular.ttf");
    font-style: normal;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: 62.5%;
    direction: rtl;
    font-size: 16px;
}

/*start: Material Input Component */
.materialInput__input:focus + .materialInput__label .materialInput__label-text {
    font-size: 12px;
    transform: translate(0, -50%);
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
    color: blue;
}

.materialInput__label .materialInput__label-text {
    transition: all 0.15s ease-out;
}

.materialInput__input:focus + .materialInput__label .materialInput__label-text,
:not(.materialInput__input[value=""])
    + .materialInput__label
    .materialInput__label-text {
    font-size: 12px;
    transform: translate(0, -150%);
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.materialInput__input:focus + .materialInput__label .materialInput__label-text {
    color: blue;
}