@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ltr {
        direction: ltr;
    }
}

@layer components {
    .flex-center {
        @apply flex items-center justify-center
    }
    .flex-justify-center {
        @apply flex justify-center
    }
    .primary-gradient {
        @apply bg-gradient-to-l from-secondary to-primary
    }
}
  


